<head>
    <title>Login Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lost&Found</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="../css/font-awesome.css" rel="stylesheet">
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/app.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../../fsfdsf/Nouveau dossier (2)/login.min.css">
</head>
<body>
<ul id="notificationMenu" class="notifications">
    <li class="titlebar">
        <span class="title">Notifications</span>
        <span class="settings"><i class="icon-cog"></i>
        </span>
    </li>
    <div class="notifbox">
        <li class=" notif unread">
                <div class="imageblock">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReZkTEXaRuZy0NfrExWJwG6uYzEQ0Tj-kIW5n136e5jWUAGyyp"
                         class="notifimage"/>
                </div>
                <div class="messageblock">
                    <div class="message">
                        <strong>Pete Nawara</strong>a singnaler l'annoce
                        <a href="#">Samsung a vendre</a>
                    </div>
                    <div class="messageaction">
                        <a href="#" class="btn button tiny success">Consulter</a>
                        <a href="#" class="btn button tiny alert">Supprimer</a>
                    </div>
                    <div class="messageinfo">
                        <i class="icon-flag"></i>3 hour ago
                    </div>
                </div>
        </li>
    </div>
</ul>
</body>
</html>